.tile {
  height: 320px;
  width: 240px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-title {
  font-size: 15px;
  padding: 10px;
  color: #000000;
  font-family: '' !important;
  align-items: center;
  padding-bottom: 5px;
}
.book-author {
  font-size: 1rem;
  font-family: '' !important;
  color: #000000;
  align-items: center;
  padding-bottom: 5px;
}
.book-cover {
  max-width: 100%;
  max-width: 100%;
  object-fit: cover;
}
